.button-rejoin,
.button-return{
    font-size: 1.1rem;
    display: flex;
    gap: 0.75rem;
    padding: 0.25rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 500;
}
.button-return{
    background-color: transparent;
    color: #4a90e2;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button-return:hover {
    background-color: rgba(74, 144, 226, 0.1);
}
.button-rejoin{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button-rejoin:hover {
    background-color: #3a80d2;
}



.timer-circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(#4a90e2 var(--progress), #e0e0e0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-circle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.timer-content {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
}


.feedback-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform-origin: center;
    animation: scaleIn 0.6s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    70% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.submit-feedback-button{
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.submit-feedback-button:hover {
    background-color: #3a80d2;
}
.submit-feedback-button:active{
    background-color: rgb(77, 125, 202);
    color: #fff;
}
.feedback-container{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}
.skip-button:hover{
    color: rgb(72, 134, 234);
    font-weight: 700;
}

@media (max-width: 640px) {
  .timer-circle {
    width: 35px;
    height: 35px;
  }
  
  .timer-circle::before {
    width: 25px;
    height: 25px;
  }
  
  .timer-content {
    font-size: 14px;
  }
  
  .button-rejoin,
  .button-return,
  .submit-feedback-button {
    width: 100%;
    margin-bottom: 10px;
  }
}
